/* fee.html - style.css start */
html{
    scroll-behavior: smooth;
}
body{
    color: #191919;
    font-family: 'Nanum Gothic', sans-serif;
}
.blind{
    display: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.logo{
    width: 154px;
    height: 152px;
    margin: 0 auto;
}
.picture{
    height: 335px;
    /* max-width: 100%; */
    background: url(../images/heroImg.jpg) center no-repeat;
}
.menu{
    background-color: #000000;
    color: white;
    text-align: center;
}
.menu li{
    display: inline-block;
    padding: 19.5px 0;
}
.menu li:nth-child(2){
    margin: 0 30px;
}
.menu a:hover{
    color: #01ccff;
}
caption{
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 1.2rem;
}
table{
    width: 35%;
    margin: 0 auto;
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
}
table, th, td{
    border: 1px solid black;
    padding: 10px 15px;
    text-align: center;
}
#rowspan{
    background-color: #ffeded;
    vertical-align: middle;
}
.point{
    color: red;
    font-weight: 900;
}
th{
    font-weight: 900;
    background-color: #f7f7f7;
}
#tb_fee th{
    width: 25%;
}
#tb_cast th{
    width: 25%;
}
#tb_cast td{
    text-align: left;
    width: 75%;
}
.extra-menu{
    text-align: center;
    background-color: #fafafa;
    border-top: 1px solid #666;
}
.extra-menu li{
    display: inline-block;
    padding: 15px 10px;
    color: #666666;
    font-size: 13px;
}
.extra-menu a:hover{
    color: red;
    text-decoration: underline;
}
.black-bg{
    background-color: #191919;
}
.footer-logo{
    width: 98px;
    margin: 0 auto;
}
.footer-logo img{
    margin-top: 20px;
}
#footer-letter{
    color: #999999;
    text-align: center;
    overflow: hidden;
}
#footer-letter p{
    margin: 20px;
    font-size: 13px;
}
#top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: blue;
    text-align: center;
    line-height: 50px;
    color: white;
    border-radius: 10px;
    font-weight: 900;
}

/* fee.html - style.css end */

/* responsive web design */
@media screen (max-width : 480px) {
    #tb_fee, #tb_cast{
        max-width: 100%;
    };
}

/* event.html - style.css start */
.schedule, .event{
    width: 1000px;
    margin: 0 auto;
}
.schedule > h2{
    margin: 35px 0;
    border-bottom: 2px solid #666;
}
.schedule > h2 > span{
    border: 2px solid #666;
    border-bottom: 2px solid white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 -2px 20px;
}
.schedule li {
    margin: 0;
    overflow: hidden;
}
.schedule > ul > li{
    margin-top: 30px;
}
mark {
    background-color: #363636;
    color: #f1f1f1;
    padding: 8px 25px;
    border-radius: 20px;
    margin-right: 20px;
    width: 100px;
    height: 30px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;

}
figcaption{
    display: none;
}
.img{
    width: 400px;
    float: left;
    overflow: hidden;
}
.desc{
    float: right;
    width: 550px;
    margin-left: 50px;
    margin-top: 20px;
}
/* .desc{
    display: flex;
    flex-direction: column;
} */
.desc li{
    margin: 0px 0 15px 0;
    height: 30px;
}
.event > h2 > span{
    border: 2px solid #666;
    border-bottom: 2px solid white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 -2px 20px;
}
.event > h2{
    margin: 35px 0;
    border-bottom: 2px solid #666;
}
.event > li{
    margin-bottom: 60px;
}

/* event.html - style.css end */

/* gallery.html - style.css start */
#main > h2{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
}
#best{
    width: 1000px;
}
#best, #best td{
    border: 0 !important; /* !important 최우선 */
}
#best td{
    padding: 15px;
    position: relative;
}
#overlay{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* 변형 : 이동 (수평, 수직) */
}
/* #best tr:nth-child(2) td:nth-child(1)::before{
    content: '';
    display: block;
    background: url(../images/play.png) no-repeat center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
} */
#modal{
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#overlay img:hover{
    cursor: pointer;
}
iframe{
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#close{
    width: 100px;
    height: 100px;
    font-size: 5rem;
    border-radius: 50%;
    border: 0;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
}
#close:hover{
    cursor: pointer;
    background:rgba(0, 0, 0, 0.9);
    color: white;
}