body{
    color: #191919;
    font-family: 'Nanum Gothic', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
}
.logo{
    width: 154px;
    height: 152px;
    margin: 0 auto;
}
.picture{
    width: 800px;
    height: 400px;
}
.footer-logo{
    width: 98px;
    margin: 0 auto;
}